#campos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color) ;
}


.inputbox {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 400px;
}

.inputbox label {
    position: relative;
    top:0;
    left: 10px;
    font-size: 20px;
    color: var(--primary-color);
    transition: .5s;
    cursor: text;
}

.inputbox input {
    position: absolute;
    background-color: rgba(196, 4, 255, 0.63);
    width: 100%;
    height: 4px;
    bottom: 0;
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 2px;
    transition: .5s;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
}

.inputbox input:focus,
.inputbox input:valid {
    height: 100%;
}

.inputbox input:focus + label,
.inputbox input:valid + label {
    top: -40px;
    left: 0;
}
