:root {
    --white-text: white;
    --main-section-color: rgb(128, 0, 128);
    --main-text-color: white;
    --headers: #a300a3;
    --light-text: #F0A8F0;
    --shadow: #5C465C;
    --transparent-background-color: rgba(128, 0, 128, 0.8);
    --gray: #d3d3d3;
    --black: #000000;
    --light-green: #39E100;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.login.card {
    width: 100%;
    background-color: var(--white-text);
    padding: 40px;
    border-radius: 2px;
}

.card-header {
    padding-bottom: 50px;
    opacity: 0.8;
    color: var(--main-section-color);
}

.card-content label {
    color: var(--main-section-color);
    font-size: 16px;
    font-weight: 900;
    opacity: 0.8;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.card-content-area input {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #f0eaea;
    outline: none;
    color: var(--main-section-color)
}

.card-footer {
    display: flex;
    flex-direction: column;
}

.card-footer .submit {
    width: 100%;
    height: 40px;
    background-color: var(--main-section-color);
    border: none;
    color: var(--white-text);
    font-weight: 900;
    margin: 10px 0;
}

.card-footer a {
    text-align: center;
    font-size: 18px;
    opacity: 0.8;
    color: var(--headers);
    font-weight: bold;
    text-decoration: none;
}